{% extends 'site/_layout.twig' %}
{% set title = " - Вход" %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <h1 class="h3 mb-4">Вход в личный кабинет</h1>
            <form action="/login" method="post" class="mb-5">
                {{ csrf_field() }}

                {% block authInputs %}
                    {% if not errors.first('password') is empty %}
                        {% set ps_e = true %}
                        {% set pas_error = "is-invalid" %}
                        {% set pass_msg = errors.first('password') %}
                    {% endif %}

                    {% if not errors.first('email') is empty %}
                        {% set em_e = true %}
                        {% set em_error = "is-invalid" %}
                        {% set em_msg = errors.first('email') %}
                    {% endif %}


                    {% if not app.session.get('info') is empty %}
                        <div class="alert alert-dismissable {{ app.session.get('alert-class') }}" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                            {{ app.session.get('info') }}
                        </div>
                    {% endif %}

                    {% if not errors.first('other') is empty %}
                        <div class="alert alert-danger">{{ errors.first('other') | raw }}</div>
                    {% endif %}

                    <div class="form-group">
                        <input name="email" class="form-control form-control-lg {{ em_error }}" type="text" aria-label="Email" placeholder="Email" value="{{ old("email") }}">
                        {% if em_e %}
                            <div class="invalid-feedback d-block">{{ em_msg }}</div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <input name="password" class="form-control form-control-lg {{ pas_error }}" type="password" aria-label="Пароль" placeholder="Пароль">
                        {% if ps_e %}
                            <div class="invalid-feedback d-block">{{ pass_msg }}</div>
                        {% endif %}
                    </div>
                {% endblock %}

                <button class="btn btn-primary btn-lg btn-block mt-4">Войти</button>
            </form>
            <div class="h3 my-3"><a href="/registration" class="link-underline-secondary">Зарегистрироваться</a></div>
            <div class="h3 my-3"><a href="/reset" class="link-underline-secondary">Восстановить пароль</a></div>
        </div>
    </div>
{% endblock %}
